section.hdr_container{
  display:flex;
}

div.hdr_logo{
  flex: 1;
  text-align: center;
  height: 50px;
  background-image:url('Images/Chaos_Logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-height: 50px;
  border: black solid 5px;
  margin: 20px;
  padding: 20px;  
}

div.hdr_item{
  flex: 1;
  text-align: center;
  height: 50px;
  background-color: #8c98c7;
  border: black solid 5px;
  margin: 20px;
  padding: 20px;
}
